In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/SJT LOAD/SJT2-04.csv")
df2 = pd.read_csv("/content/drive/MyDrive/SJT LOAD/SJT2.csv")

In [ ]:
df2.head()

,ID,Datetime,RealEnergyWH,ApparentEnergyVAH,ReactiveEnergyVARHP,ReactiveEnergyVARHN,LineVoltageVRY,LineVoltageVYB,LineVoltageVBR,LineCurrentIR,...,Frequency,RealPowerR,RealPowerY,RealPowerB,ReactivePowerR,ReactivePowerY,ReactivePowerB,ApparentPowerR,ApparentPowerY,ApparentPowerB
0,1,04-01-2023 15:25,316462,320876,11245,3933,425.06,422.52,424.33,535.40,...,49.9,131036.23,130423.04,134821.39,11042.71,-13366.06,3150.58,130966.21,130879.87,134844.83
1,2,04-01-2023 15:26,316469,320883,11246,3933,424.99,423.06,426.06,582.88,...,49.9,142673.75,147033.33,133697.20,0.00,-16587.38,4989.10,142603.70,147689.31,133790.89
2,3,04-01-2023 15:27,316476,320890,11246,3933,426.45,423.31,425.62,569.36,...,49.9,139650.56,149481.55,141027.88,3070.37,-18906.73,6160.13,139650.56,150371.80,141180.11
3,4,04-01-2023 15:28,316483,320897,11246,3933,425.15,423.42,424.50,565.23,...,49.9,137946.38,141937.78,130113.85,0.00,3116.40,4380.16,137899.69,141926.08,130184.12
4,5,04-01-2023 15:29,316490,320904,11246,3933,425.08,423.30,425.46,571.12,...,49.9,139277.05,141621.52,142620.48,-15501.61,5798.88,6722.22,139895.69,141726.94,142796.14

In [ ]:
df1.head()

,Datetime,RealEnergyWH,ApparentEnergyVAH,ReactiveEnergyVARHP,ReactiveEnergyVARHN,LineVoltageVRY,LineVoltageVYB,LineVoltageVBR,LineCurrentIR,LineCurrentIY,...,Frequency,RealPowerR,RealPowerY,RealPowerB,ReactivePowerR,ReactivePowerY,ReactivePowerB,ApparentPowerR,ApparentPowerY,ApparentPowerB
0,21-04-2023 12:52,963668,969454,27315,10322,416.77,417.37,418.30,493.08,493.10,...,49.9,117869.63,117736.88,124223.56,-12163.27,5201.47,5832.24,118301.52,117842.31,124375.80
1,21-04-2023 12:59,963710,969496,27315,10322,419.13,417.86,419.36,488.95,504.48,...,49.9,117927.99,120899.63,124059.62,0.00,4522.06,7588.79,117904.65,120969.92,124328.95
2,21-04-2023 13:09,963768,969554,27317,10323,415.64,414.27,416.03,422.38,486.38,...,50.0,100594.30,115218.39,107126.50,-9140.09,-12405.52,3162.29,100851.10,115675.23,107173.34
3,21-04-2023 13:12,963786,969572,27318,10323,415.64,413.81,415.87,457.37,526.51,...,50.0,109418.73,124320.09,123099.37,0.00,-15064.57,5832.24,109383.71,124987.79,123251.60
4,21-04-2023 13:13,963792,969578,27318,10324,415.67,413.73,415.66,476.36,594.47,...,49.9,113935.99,140918.69,131975.78,0.00,4100.36,6406.04,113900.98,140942.12,132151.44

In [ ]:
df2.drop(columns=['ID'],axis=1,inplace=True)

In [ ]:
df = pd.concat([df1,df2], ignore_index=True)

In [ ]:
df.columns

Index(['Datetime', 'RealEnergyWH', 'ApparentEnergyVAH', 'ReactiveEnergyVARHP',
       'ReactiveEnergyVARHN', 'LineVoltageVRY', 'LineVoltageVYB',
       'LineVoltageVBR', 'LineCurrentIR', 'LineCurrentIY', 'LineCurrentIB',
       'RealPower', 'ReactivePower', 'ApparentPower', 'PhaseVoltageVRN',
       'PhaseVoltageVYN', 'PhaseVoltageVBN', 'PowerFactor', 'Frequency',
       'RealPowerR', 'RealPowerY', 'RealPowerB', 'ReactivePowerR',
       'ReactivePowerY', 'ReactivePowerB', 'ApparentPowerR', 'ApparentPowerY',
       'ApparentPowerB'],
      dtype='object')

In [ ]:
df

,Datetime,RealEnergyWH,ApparentEnergyVAH,ReactiveEnergyVARHP,ReactiveEnergyVARHN,LineVoltageVRY,LineVoltageVYB,LineVoltageVBR,LineCurrentIR,LineCurrentIY,...,Frequency,RealPowerR,RealPowerY,RealPowerB,ReactivePowerR,ReactivePowerY,ReactivePowerB,ApparentPowerR,ApparentPowerY,ApparentPowerB
0,21-04-2023 12:52,963668,969454,27315,10322,416.77,417.37,418.30,493.08,493.10,...,49.9,117869.63,117736.88,124223.56,-12163.27,5201.47,5832.24,118301.52,117842.31,124375.80
1,21-04-2023 12:59,963710,969496,27315,10322,419.13,417.86,419.36,488.95,504.48,...,49.9,117927.99,120899.63,124059.62,0.00,4522.06,7588.79,117904.65,120969.92,124328.95
2,21-04-2023 13:09,963768,969554,27317,10323,415.64,414.27,416.03,422.38,486.38,...,50.0,100594.30,115218.39,107126.50,-9140.09,-12405.52,3162.29,100851.10,115675.23,107173.34
3,21-04-2023 13:12,963786,969572,27318,10323,415.64,413.81,415.87,457.37,526.51,...,50.0,109418.73,124320.09,123099.37,0.00,-15064.57,5832.24,109383.71,124987.79,123251.60
4,21-04-2023 13:13,963792,969578,27318,10324,415.67,413.73,415.66,476.36,594.47,...,49.9,113935.99,140918.69,131975.78,0.00,4100.36,6406.04,113900.98,140942.12,132151.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156979,21-04-2023 13:07,963756,969542,27316,10323,413.53,412.61,413.32,446.32,481.41,...,50.1,105998.68,113918.16,113157.31,2416.71,5927.73,9790.33,105998.68,114082.15,113637.44
156980,21-04-2023 13:08,963762,969548,27316,10323,413.53,412.52,412.98,449.63,499.41,...,50.1,106827.43,118006.30,120757.31,2743.54,7309.97,10141.64,106839.10,118252.30,121237.44
156981,21-04-2023 13:09,963768,969554,27317,10323,415.12,413.41,414.84,437.24,501.17,...,50.1,104037.70,118802.84,109773.03,5521.60,7415.40,11183.86,104189.44,119048.84,110417.09
156982,21-04-2023 13:10,963774,969560,27317,10323,415.19,413.13,414.03,409.58,537.58,...,50.0,97617.80,127295.42,121811.23,3280.48,5834.02,8982.31,97664.50,127424.28,122185.97
156983,21-04-2023 13:11,963780,969566,27317,10323,415.16,413.27,414.34,430.22,553.10,...,50.0,102496.92,130926.73,119059.31,3408.88,7380.26,10750.57,102543.61,131149.30,119609.70

In [ ]:
df['Year'] = pd.to_datetime(df['Datetime']).dt.year
df['Month'] = pd.to_datetime(df['Datetime']).dt.month
df['Day'] = pd.to_datetime(df['Datetime']).dt.day
df['Hour'] = pd.to_datetime(df['Datetime']).dt.hour
df['Mins'] = pd.to_datetime(df['Datetime']).dt.minute

In [ ]:
df['Month'].unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3])

In [ ]:
df.drop(columns=['Datetime'],axis=1,inplace=True)

In [ ]:
df.drop(columns=['Year'],axis=1,inplace=True)

In [ ]:
df.drop(columns=['RealPowerB'],axis=1,inplace=True)
df.drop(columns=['RealPowerR'],axis=1,inplace=True)
df.drop(columns=['RealPowerY'],axis=1,inplace=True)

In [ ]:
import pickle

In [ ]:
import pickle
loaded_model = pickle.load(open("/content/finalized_model_SJT_tower.sav", 'rb'))

In [ ]:
df.columns

Index(['RealEnergyWH', 'ApparentEnergyVAH', 'ReactiveEnergyVARHP',
       'ReactiveEnergyVARHN', 'LineVoltageVRY', 'LineVoltageVYB',
       'LineVoltageVBR', 'LineCurrentIR', 'LineCurrentIY', 'LineCurrentIB',
       'RealPower', 'ReactivePower', 'ApparentPower', 'PhaseVoltageVRN',
       'PhaseVoltageVYN', 'PhaseVoltageVBN', 'PowerFactor', 'Frequency',
       'ReactivePowerR', 'ReactivePowerY', 'ReactivePowerB', 'ApparentPowerR',
       'ApparentPowerY', 'ApparentPowerB', 'Month', 'Day', 'Hour', 'Mins'],
      dtype='object')

In [ ]:
df['Day'].sort_values().unique() #5-12 day is not their

array([ 1,  2,  3,  4, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31])

In [ ]:
df['Month'].sort_values().unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
df[df['Day'] == 1].columns

Index(['RealEnergyWH', 'ApparentEnergyVAH', 'ReactiveEnergyVARHP',
       'ReactiveEnergyVARHN', 'LineVoltageVRY', 'LineVoltageVYB',
       'LineVoltageVBR', 'LineCurrentIR', 'LineCurrentIY', 'LineCurrentIB',
       'RealPower', 'ReactivePower', 'ApparentPower', 'PhaseVoltageVRN',
       'PhaseVoltageVYN', 'PhaseVoltageVBN', 'PowerFactor', 'Frequency',
       'ReactivePowerR', 'ReactivePowerY', 'ReactivePowerB', 'ApparentPowerR',
       'ApparentPowerY', 'ApparentPowerB', 'Month', 'Day', 'Hour', 'Mins'],
      dtype='object')

In [ ]:
df[df['Month'] == 1].columns

Index(['RealEnergyWH', 'ApparentEnergyVAH', 'ReactiveEnergyVARHP',
       'ReactiveEnergyVARHN', 'LineVoltageVRY', 'LineVoltageVYB',
       'LineVoltageVBR', 'LineCurrentIR', 'LineCurrentIY', 'LineCurrentIB',
       'RealPower', 'ReactivePower', 'ApparentPower', 'PhaseVoltageVRN',
       'PhaseVoltageVYN', 'PhaseVoltageVBN', 'PowerFactor', 'Frequency',
       'ReactivePowerR', 'ReactivePowerY', 'ReactivePowerB', 'ApparentPowerR',
       'ApparentPowerY', 'ApparentPowerB', 'Month', 'Day', 'Hour', 'Mins'],
      dtype='object')

In [ ]:
df[df['Month'] == 1]['Month'].mean()

1.0

In [ ]:
X = df.drop(columns=['RealPower'],axis=1)

In [ ]:
X[X['Day']==1]

,RealEnergyWH,ApparentEnergyVAH,ReactiveEnergyVARHP,ReactiveEnergyVARHN,LineVoltageVRY,LineVoltageVYB,LineVoltageVBR,LineCurrentIR,LineCurrentIY,LineCurrentIB,...,ReactivePowerR,ReactivePowerY,ReactivePowerB,ApparentPowerR,ApparentPowerY,ApparentPowerB,Month,Day,Hour,Mins
13597,316462,320876,11245,3933,425.06,422.52,424.33,535.40,539.54,556.09,...,11042.71,-13366.06,3150.58,130966.21,130879.87,134844.83,4,1,15,25
13598,316469,320883,11246,3933,424.99,423.06,426.06,582.88,609.06,548.75,...,0.00,-16587.38,4989.10,142603.70,147689.31,133790.89,4,1,15,26
13599,316476,320890,11246,3933,426.45,423.31,425.62,569.36,618.99,579.88,...,3070.37,-18906.73,6160.13,139650.56,150371.80,141180.11,4,1,15,27
13600,316483,320897,11246,3933,425.15,423.42,424.50,565.23,583.61,535.30,...,0.00,3116.40,4380.16,137899.69,141926.08,130184.12,4,1,15,28
13601,316490,320904,11246,3933,425.08,423.30,425.46,571.12,584.64,586.60,...,-15501.61,5798.88,6722.22,139895.69,141726.94,142796.14,4,1,15,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25251,366172,370756,12744,4314,433.51,431.67,434.09,244.32,211.95,209.53,...,2451.73,2835.26,3103.73,60954.41,52467.05,52029.45,12,1,23,55
25252,366174,370758,12744,4314,434.22,431.68,435.45,248.14,229.02,215.63,...,3327.17,3948.08,4110.82,62098.32,56672.34,53657.18,12,1,23,56
25253,366177,370761,12744,4314,434.87,433.01,437.41,224.82,204.09,187.61,...,0.00,2718.12,0.00,56425.48,50581.11,46900.33,12,1,23,57
25254,366179,370764,12745,4314,433.06,431.09,435.26,223.47,190.85,190.61,...,0.00,2354.99,0.00,55818.50,47148.94,47380.45,12,1,23,58
25255,366181,370766,12745,4314,434.50,431.89,435.87,236.27,206.26,206.33,...,2440.06,3057.83,2974.92,59203.54,51061.38,51361.96,12,1,23,59

In [ ]:
X.to_csv("Data Used for Real Power Prediction.csv")

In [ ]:
len(X.columns)

Index(['Unnamed: 0', 'RealEnergyWH', 'ApparentEnergyVAH',
       'ReactiveEnergyVARHP', 'ReactiveEnergyVARHN', 'LineVoltageVRY',
       'LineVoltageVYB', 'LineVoltageVBR', 'LineCurrentIR', 'LineCurrentIY',
       'LineCurrentIB', 'ReactivePower', 'ApparentPower', 'PhaseVoltageVRN',
       'PhaseVoltageVYN', 'PhaseVoltageVBN', 'PowerFactor', 'Frequency',
       'ReactivePowerR', 'ReactivePowerY', 'ReactivePowerB', 'ApparentPowerR',
       'ApparentPowerY', 'ApparentPowerB', 'Month', 'Day', 'Hour', 'Mins'],
      dtype='object')

In [ ]:
X = pd.read_csv("/content/Data Used for Real Power Prediction.csv") #Path needs to be changed as per the lcoal machine
X.drop(columns=['Unnamed: 0'],axis=1, inplace=True)

In [ ]:
X.head()

,RealEnergyWH,ApparentEnergyVAH,ReactiveEnergyVARHP,ReactiveEnergyVARHN,LineVoltageVRY,LineVoltageVYB,LineVoltageVBR,LineCurrentIR,LineCurrentIY,LineCurrentIB,...,ReactivePowerR,ReactivePowerY,ReactivePowerB,ApparentPowerR,ApparentPowerY,ApparentPowerB,Month,Day,Hour,Mins
0,963668,969454,27315,10322,416.77,417.37,418.30,493.08,493.10,519.07,...,-12163.27,5201.47,5832.24,118301.52,117842.31,124375.80,4.0,21.0,12.0,52.0
1,963710,969496,27315,10322,419.13,417.86,419.36,488.95,504.48,518.45,...,0.00,4522.06,7588.79,117904.65,120969.92,124328.95,4.0,21.0,12.0,59.0
2,963768,969554,27317,10323,415.64,414.27,416.03,422.38,486.38,449.98,...,-9140.09,-12405.52,3162.29,100851.10,115675.23,107173.34,4.0,21.0,13.0,9.0
3,963786,969572,27318,10323,415.64,413.81,415.87,457.37,526.51,518.14,...,0.00,-15064.57,5832.24,109383.71,124987.79,123251.60,4.0,21.0,13.0,12.0
4,963792,969578,27318,10324,415.67,413.73,415.66,476.36,594.47,555.06,...,0.00,4100.36,6406.04,113900.98,140942.12,132151.44,4.0,21.0,13.0,13.0

In [ ]:
X[X['Day'] == 6]

Empty DataFrame
Columns: [RealEnergyWH, ApparentEnergyVAH, ReactiveEnergyVARHP, ReactiveEnergyVARHN, LineVoltageVRY, LineVoltageVYB, LineVoltageVBR, LineCurrentIR, LineCurrentIY, LineCurrentIB, ReactivePower, ApparentPower, PhaseVoltageVRN, PhaseVoltageVYN, PhaseVoltageVBN, PowerFactor, Frequency, ReactivePowerR, ReactivePowerY, ReactivePowerB, ApparentPowerR, ApparentPowerY, ApparentPowerB, Month, Day, Hour, Mins]
Index: []

[0 rows x 27 columns]

In [ ]:
ax = [1,2,3,4]
ax.append(6)

In [ ]:
X[X['Day'] == 4]['Rea']

Empty DataFrame
Columns: [RealEnergyWH, ApparentEnergyVAH, ReactiveEnergyVARHP, ReactiveEnergyVARHN, LineVoltageVRY, LineVoltageVYB, LineVoltageVBR, LineCurrentIR, LineCurrentIY, LineCurrentIB, ReactivePower, ApparentPower, PhaseVoltageVRN, PhaseVoltageVYN, PhaseVoltageVBN, PowerFactor, Frequency, ReactivePowerR, ReactivePowerY, ReactivePowerB, ApparentPowerR, ApparentPowerY, ApparentPowerB, Month, Day, Hour, Mins]
Index: []

[0 rows x 27 columns]

In [ ]:
X['Day'].value_counts()

1.0     4282
22.0    1440
23.0    1440
24.0    1440
25.0    1440
26.0    1440
28.0    1440
30.0    1440
29.0    1436
27.0    1430
21.0     651
Name: Day, dtype: int64

In [ ]:
d

Series([], Name: RealEnergyWH, dtype: int64)

In [ ]:
#ONLY THIS CELL IS REQUIRED TO BE RUN.
#MODEL AND DATASET NEEDS TO BE SAVED IN THE LOCAL MACHINE AND THE DIRECTORY PATH NEEDS TO BE CHANGED ACCORDINGLY
#Real Power
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pickle

loaded_model = pickle.load(open("/content/finalized_model_SJT_tower.sav", 'rb')) #Path needs to be changed as per the lcoal machine
X = pd.read_csv("/content/Data Used for Real Power Prediction.csv") #Path needs to be changed as per the lcoal machine
X.drop(columns=['Unnamed: 0'],axis=1, inplace=True)

a = int(input("Enter the Day: "))
b = int(input("Enter the month: "))

features_day = []
features_month = []
features = []

for i in X[X['Day'] == a].columns:
  if (a==5) or (a==6) or (a==7) or (a==8) or (a==9):
    a = 4
    d = X[X['Day'] == a]['{}'.format(i)].mean()
    features_day.append(d)


  elif (a==10) or (a==11) or (a==12):
    a = 13
    d = X[X['Day'] == a]['{}'.format(i)].mean()
    features_day.append(d)

  else:
    d = X[X['Day'] == a]['{}'.format(i)].mean()
    features_day.append(d)

for i in X[X['Month'] == b].columns:
  c = X[X['Month'] == b]['{}'.format(i)].mean()
  features_month.append(c)


for j in range(0,len(features_day)):
  features.append(features_day[j] + features_month[j])

for i in range(0,len(features)):
  features[i] = features[i]/2

final_features = [features]

preds = loaded_model.predict(final_features)

print("The Real Power is: ", preds)

Enter the Day: 7
Enter the month: 12
The Real Power is:  [255554.43896747]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
X['Hour'].unique()

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,  0,  1,  2,  3,  4,
        5,  6,  7,  8,  9, 10, 11])

In [ ]:
X['Mins'].sort_values().unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59])

In [ ]:
X[X['Hour'] == 12][['Month','Mins','PowerFactor']]

        Month  Mins  PowerFactor
0           4    52        -1.00
1           4    59         1.00
1371        4     0         1.00
1372        4     1         0.99
1373        4     2         0.99
...       ...   ...          ...
156967      4    55        -1.00
156968      4    56         1.00
156969      4    57        -1.00
156970      4    58         1.00
156971      4    59         1.00

[6618 rows x 3 columns]

In [ ]:
d = X[X['Hour'] == 12][['Day','Month','Mins','PowerFactor']]

In [ ]:
d

        Day  Month  Mins  PowerFactor
0        21      4    52        -1.00
1        21      4    59         1.00
1371     22      4     0         1.00
1372     22      4     1         0.99
1373     22      4     2         0.99
...     ...    ...   ...          ...
156967   21      4    55        -1.00
156968   21      4    56         1.00
156969   21      4    57        -1.00
156970   21      4    58         1.00
156971   21      4    59         1.00

[6618 rows x 4 columns]

In [ ]:
d[d['Mins'] == 54]

        Day  Month  Mins  PowerFactor
1425     22      4    54        -0.99
2865     23      4    54         1.00
4305     24      4    54         1.00
5745     25      4    54        -1.00
7185     26      4    54         1.00
...     ...    ...   ...          ...
151210   17      4    54        -1.00
152650   18      4    54        -1.00
154090   19      4    54        -1.00
155530   20      4    54        -1.00
156966   21      4    54         1.00

[109 rows x 4 columns]

In [ ]:
a = d[d['Mins'] == 54][['PowerFactor','Month','Day']]

In [ ]:
a[a['Month'] == 4]

        PowerFactor  Month  Day
1425          -0.99      4   22
2865           1.00      4   23
4305           1.00      4   24
5745          -1.00      4   25
7185           1.00      4   26
8625           1.00      4   27
10055         -1.00      4   28
11495         -1.00      4   29
12931         -1.00      4   30
48800          1.00      4    2
87858          1.00      4    3
132493        -1.00      4    4
145451        -1.00      4   13
146890         0.99      4   14
148330         1.00      4   15
149770         1.00      4   16
151210        -1.00      4   17
152650        -1.00      4   18
154090        -1.00      4   19
155530        -1.00      4   20
156966         1.00      4   21

In [ ]:
c = a[a['Month'] == 4][['PowerFactor', 'Day']]

In [ ]:
c[c['Day'] == 22]['PowerFactor'].iloc[0]

-0.99

In [ ]:
import math
hours = int(input("Enter the hours: "))
mins = int(input("Enter the minutes: "))
month = int(input("Enter the Month: "))
day = int(input("Enter the Day: "))

d = X[X['Hour'] == hours][['Day','Month','Mins','PowerFactor']]
a = d[d['Mins'] == mins][['PowerFactor','Month','Day']]
c = a[a['Month'] == month][['PowerFactor', 'Day']]
b = c[c['Day'] == day]['PowerFactor'].iloc[0]

print("PowerFactor for the said date and time is: ", b)

theta = np.arccos(b)
print(theta)

sin_value = math.sin(theta)

reactive_power = (preds / b) * sin_value

print(reactive_power)

Enter the hours: 13
Enter the minutes: 20
Enter the Month: 7
Enter the Day: 3
PowerFactor for the said date and time is:  1.0
0.0
[0.]

In [ ]:
# reative power = (real power/ cos phi) * sin phi
# reactive power = VI cos(phi)